<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
      <%# poi == places of interest %>
      <a class="nav-link" id="v-pills-poi-tab" data-toggle="pill" href="#v-pills-poi" role="tab" aria-controls="v-pills-poi" aria-selected="false">Places of interest</a> 
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        ...
        <%= render partial: "partials/profile_settings" %>
      </div>
      <div class="tab-pane fade" id="v-pills-poi" role="tabpanel" aria-labelledby="v-pills-poi-tab">...</div>
    </div>
  </div>
</div>