<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="https://i.ibb.co/XCCFGRv/Webp-net-resizeimage.png" alt="No results" width="120" height="120">
    <p class="h4 text-center"> No available resources, please create a new one!</p>
</div>