  <div id="carouselExampleControls-<%=attachments.object_id%>" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%= render_evidences(attachments) %>
    </div>
    <% if attachments.count > 1 %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%=attachments.object_id%>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%=attachments.object_id%>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    <%end%>
  </div>
