<nav class="navbar navbar-expand-md navbar-dark bg-primary">
<div class="container-fluid">
<a class="navbar-brand mx-3" href="/">Citizen Alert</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-md-flex justify-content-md-end px-md-5" id="navbarNavDropdown">
    <ul class="navbar-nav mx-md-5">
      <li class="nav-item">
        <a class="nav-link active " aria-current="page" href="/">Home</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link " href="/denounces">My denounces</a>
        </li>
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
          </a>
          <ul class="dropdown-menu mt-md-5" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <%= link_to edit_user_registration_path, class: "dropdown-item d-flex align-items-center" do %>
                <i class="bi bi-gear mx-4"></i> Profile settings 
              <% end %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item d-flex align-items-center" do %>
               <i class="bi bi-box-arrow-in-right mx-4"></i>Sign out
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item ">
          <%= link_to "Sign in" , new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
