<h2 style="color:#6610f2">Citizen Denounce</h2>

<h3>
  A new denounce has been created in your place of interest
  You can see it <%= link_to("here", denounce_url(@denounce), style: "color:#6610f2") %>
</h3>
