<% @denounces.each do |denounce| %>
  <%= render partial: 'partials/denounce', locals: { denounce: denounce } %>
<%end%>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>